{% extends 'base.html' %}
{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/content.css'%}">
<div class="col-md-9">
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <select name="select-stock" id="select-stock"></select>
    <script>
        _30stock = ['ACB', 'BID', 'BVH', 'CTG', 'DHG', 'DPM', 'EIB', 'FPT', 'GAS', 'GMD', 'HDB', 'HPG', 'MBB', 'MSN', 'MWG', 'NVL', 'PNJ', 'REE', 'ROS', 'SAB', 'SBT', 'SSI', 'STB', 'TCB', 'TPB', 'VCB', 'VHM', 'VIC', 'VJC', 'VPB']
        select_stock = document.getElementById('select-stock');
        $.each(_30stock, function(key , value){
            let option = document.createElement('option');
            option.innerText = value;
            select_stock.appendChild(option);
        })
    </script>
    <div id="_30CompanyChart"  ></div>
    <div id="VN30Chart">
    </div>
    <script>
        var myChart ;
    
        $('#select-stock').on('change', function(e){
            $("#_30CompanyChart").html("");
            var optionSelected = $("option:selected", this);
            var valueSelected = this.value;
            $.ajax({
                url: ('/dashboard/' + valueSelected + '/'),
                type: 'GET',
                data:{
                    'size' : 200,
                },
                dataType: 'json',
                success: function(data) {
                    console.log(data);
                    var price = [];
                    $.each(data['data'], function(key, value){
                        // console.log(value)
                        price.push({
                            // x: Date.parse(value.date + " " + value.time).valueOf(),
                            x : value.index,
                            y : [value.open , value.high, value.low, value.close ] ,
                            time: value.date + ' ' + value.time
                        })
                    });
                    var options = {
                        chart: {
                            type: 'candlestick',
                            height: 230,
                            foreColor : '#b2bbbf'
                        },
                        series: [{
                            data: price
                        }],
                        title: {
                            text: valueSelected,
                            align: 'left'
                        },
                        xaxis: {
                            type: 'numeric',
                            labels:{
                                show : false,
                            }
                        },
                        yaxis: {
                            tooltip: {
                                enabled: true
                            }
                        },
                        fill:{
                            colors:['#F44336', '#E91E63', '#9C27B0']
                        },
                        tooltip: {
                            custom: function ({ series, seriesIndex, dataPointIndex, w }) {
                                var data = w.globals.initialSeries[seriesIndex].data[dataPointIndex];
                                
                                return '<ul>' +
                                    '<li><b>Open</b>: ' + data.y[0] + '</li>' +
                                    '<li><b>Close</b>: ' + data.y[3] + '</li>' +
                                    '<li><b>High</b>: ' + data.y[1] + '</li>' +
                                    '<li><b>Low</b>: ' + data.y[2] + '</li>' +
                                    '<li><b>DateTime</b>: ' + data.time + '</li>' +
                                    '</ul>';
                            }
                        },
                    };
                    myChart = new ApexCharts(document.querySelector("#_30CompanyChart")  , options )
                    myChart.render();
                },
                error: function(xhr, status, error) {
                    console.log(error);
                }
            });
        })
        $("#select-stock").change();
        
    </script>
    <script>
        var time_range = 'SixMonths';
        $.ajax({
                url: ('/dashboard/vn30/' + time_range + '/'),
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    data = JSON.parse(data['data']);
                    let hI = [];
                    let lI = [];
                    let oI = [];
                    let cI = [];
                    let time = [];
                    console.log(data)
                    $.each(data.highestIndex, function(key, value){
                        time.push(Number(key));
                        hI.push(value);
                    })
                    $.each(data.lowestIndex, function(key, value){
                        lI.push(value);
                    })
                    $.each(data.openIndex, function(key, value){
                        oI.push(value);
                    })
                    $.each(data.closeIndex, function(key, value){
                        cI.push(value);
                    })
                    // console.log(time, dt)

                    var options = {
                        series: [{
                            name: "HighestIndex",
                            data: hI,
                        },
                        {
                            name: "LowestIndex",
                            data: lI,
                        },
                        {
                            name: "OpenIndex",
                            data: oI,
                        },
                        {
                            name: "CloseIndex",
                            data: cI,
                        }
                    ],
                        chart: {
                            type: 'area',
                            height: 350,
                            zoom: {
                                enabled: false
                            }
                        },
                        dataLabels: {
                            enabled: false
                        },
                        stroke: {
                            curve: 'straight'
                        },

                        title: {
                            text: 'Fundamental Analysis of Stocks',
                            align: 'left'
                        },
                        subtitle: {
                            text: 'Price Movements',
                            align: 'left'
                        },
                        labels: time,
                        xaxis: {
                            type: 'numeric',
                        },
                        yaxis: {
                            opposite: true
                        },
                        legend: {
                            horizontalAlign: 'left'
                        }
                    };

                    var chart = new ApexCharts(document.querySelector("#VN30Chart"), options);
                    chart.render();
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
    </script>
</div>
<div class="col-md-3">
    <div id="action" class="row">
        <div class="col-md-6 text-center fw-bold h5 align-items-center" style="color: rgb(100, 231, 100);" id="tab-call">
            <p>CALL</p>
        </div>
        <div class="col-md-6 text-center fw-bold h5 align-items-center" style="color: rgb(242, 137, 137)" id="tab-put">
            <p>PUT</p>
        </div>
    </div>
    <div id="balance" class="row text-white ">
        <div class="col-md-6 text-center border-end align-items-center" >
            $1,200.42
        </div>
        <div class="col-md-6 text-center float-start align-items-center" >
            <button class="btn btn-dark">DEPOSIT</button>
        </div>
    </div>
</div>


{% endblock %}